.header {
    padding: 40px 0 30px;
    width: 100%;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

.header-logo {
    height: 68px;
    width: auto;
}

.header-nav {
    display: flex;
    gap: 57px;
}

.header-link {
    color: #000000;
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;
    text-transform: none;
}


@media (max-width: 768px) {
    .header {
        padding: 20px 0;
    }

    .header-content {
        padding: 0 20px;
    }

    .header-logo {
        height: 47px;
    }

    .header-nav {
        gap: 26px;
    }

    .header-link {
        font-size: 12px;
        text-transform: uppercase;
    }
}